
<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Hobby Adder | Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
      <link rel="stylesheet" href="/public/css/login.css">
        <link rel="stylesheet" href="/public/css/dashboard.css">
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">



    <!-- show any messages that come back with authentication-->
    <h2>Hello <%= username %></h2>
    <h1>Hobbies</h1>
    <div class="message"></div>
    <div id="hobbies">
      <% if(hobbies.length){ %>
<% for(var i=0;i < hobbies.length;i++){ %>
<div class="alert alert-success"><%= hobbies[i]%></div>
<% } %>
<% } %>
    </div>
    <form id="hobbyform" action="#" >
      <input type="text" name="hobby" class="question" id="nme" required autocomplete="off" />
      <label for="nme"><span>Add a hobby <i class="fa fa-plus"></i></span></label>
        <input type="submit" value="Submit!" />
    </form>
    <p>Want to <a href="/logout">Logout?</a></p>
<script src="/public/js/dashboard.js"></script>
</body>
</html>
