<html lang = "en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
	<title>Hobby adder</title>

	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/public/js/typed1.js"></script>
<script>
$(function () {

          $("span.element").typed({
              strings: [" Add a hobby.","Get Notified .","Quite Simple.","That's all.",
							"Why are you still reading this?","Really, you should stop."],
              typeSpeed: 100, // typing speed
              backDelay: 1000, // pause before backspacing
              callback: function () { $(this) }
          });
});
</script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel = "stylesheet" href = "/public/css/home.css" type="text/css">
</head>
<body>
	<h1 class="centralize">
		This is hobby adder | <span class="element"></span>
</h1>
<div class="container"><div class="row pushdown">
	<div class="col-md-3"></div>
	<div class=" col-xs-6 col-md-3 text-center "><a href="/login"><button type="submit" class="btn btn-success btn-lg">Login</button></a></div>
	<div class="col-xs-6 col-md-3 text-center"><a href="/register"><button type="submit" class="btn btn-success btn-lg">Register</button></a></div>
	<div class="col-md-3"></div>
</div></div>


</body>
</html>
