
<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Hobby Adder | Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
      <link rel="stylesheet" href="/public/css/login.css">
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">



    <!-- show any messages that come back with authentication-->
    <% if (message) { %>
          <div class="alert alert-danger"><%= message %></div>
      <% } %>

    <h1>Login</h1>
    <form action="/login" method="post">
      <input type="text" name="email" class="question" id="nme" required autocomplete="off" />
      <label for="nme"><span>What's your email?</span></label>
      <input type="password" name="password" class="question" id="nme" required autocomplete="off" />
      <label for="nme"><span>What's your password?</span></label>
      <input type="submit" value="Submit!" />
    </form>
    <p>Need an account? <a href="/register">Register</a></p>
       <p>Or go <a href="/">home</a>.</p>
</body>
</html>
