@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
	font-family: montserrat,verdana,arial;
  background:#2B2A2A;
	color:#eee
}
.element{
	color: #eee;
}

.centralize{
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    position: absolute;
    text-align:center;
    color:grey;
}
h1{
	width:100%;
}
.pushdown{
	margin-top:65vh;
}
@-webkit-keyframes blink {
0% { opacity:1; }
50% { opacity:0; }
100% { opacity:1; }
}
@-moz-keyframes blink {
0% { opacity:1; }
50% { opacity:0; }
100% { opacity:1; }
}
@keyframes blink {
0% { opacity:1; }
50% { opacity:0; }
100% { opacity:1; }
}
#typed-cursor{
opacity: 1;
font-weight: 100;
-webkit-animation: blink 0.7s infinite;
-moz-animation: blink 0.7s infinite;
animation: blink 0.7s infinite;
font-size:48px;
color:#33cc59;
}
